/.vs
/out/build/x64-Debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
/out/build/x64-Debug/.cmake/api/v1/reply/cache-v2-70c918239088801d4b74.json
/out/build/x64-Debug/.cmake/api/v1/reply/cmakeFiles-v1-2875b6b3f90e24e70c4b.json
/out/build/x64-Debug/.cmake/api/v1/reply/codemodel-v2-0dc2185fe2038772e2ca.json
/out/build/x64-Debug/.cmake/api/v1/reply/index-2021-08-30T12-43-16-0675.json
/out/build/x64-Debug/.cmake/api/v1/reply/target-cllibtest-Debug-9fd9d347775e8a3159a6.json
/out/build/x64-Debug/.cmake/api/v1/reply/target-consolelib-Debug-0fc5ff9a72e29d8eee84.json
/out/build/x64-Debug/.cmake/api/v1/reply/target-gmock-Debug-71f27e46bddb215fd467.json
/out/build/x64-Debug/.cmake/api/v1/reply/target-gmock_main-Debug-c5d750209793a0cdef12.json
/out/build/x64-Debug/.cmake/api/v1/reply/target-gtest-Debug-3a51cb88cdaf744e9c44.json
/out/build/x64-Debug/.cmake/api/v1/reply/target-gtest_main-Debug-d72ad413ad97df76b139.json
/out/build/x64-Debug/.cmake/api/v1/reply/target-small_bind_sample-Debug-3071c8d23e093133ab83.json
/out/build/x64-Debug/.cmake/api/v1/reply/toolchains-v1-05f74b0e3ed0c9ef2568.json
/out/build/x64-Debug/CMakeCache.txt
/out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CMakeCCompiler.cmake
/out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CMakeCXXCompiler.cmake
/out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CMakeDetermineCompilerABI_C.bin
/out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
/out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CMakeRCCompiler.cmake
/out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CMakeSystem.cmake
/out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdC/CMakeCCompilerId.c
/out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdC/CMakeCCompilerId.exe
/out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdC/CMakeCCompilerId.obj
/out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.exe
/out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.obj
/out/build/x64-Debug/CMakeFiles/CMakeError.log
/out/build/x64-Debug/CMakeFiles/CMakeOutput.log
/out/build/x64-Debug/CMakeFiles/ShowIncludes/foo.h
/out/build/x64-Debug/CMakeFiles/ShowIncludes/main.c
/out/build/x64-Debug/CMakeFiles/ShowIncludes/main.obj
/out/build/x64-Debug/CMakeFiles/TargetDirectories.txt
/out/build/x64-Debug/CMakeFiles/cmake.check_cache
/out/build/x64-Debug/CMakeFiles/rules.ninja
/out/build/x64-Debug/CTestTestfile.cmake
/out/build/x64-Debug/Testing/Temporary/LastTest.log
/out/build/x64-Debug/VSInheritEnvironments.txt
/out/build/x64-Debug/build.ninja
/out/build/x64-Debug/cmake_install.cmake
/out/build/x64-Debug/lib/CTestTestfile.cmake
/out/build/x64-Debug/lib/cmake_install.cmake
/out/build/x64-Debug/samples/small-bind/CTestTestfile.cmake
/out/build/x64-Debug/samples/small-bind/cmake_install.cmake
/out/build/x64-Debug/test/CTestTestfile.cmake
/out/build/x64-Debug/test/cmake_install.cmake
/out/build/x64-Debug/test/googletest-build/CTestTestfile.cmake
/out/build/x64-Debug/test/googletest-build/cmake_install.cmake
/out/build/x64-Debug/test/googletest-build/googlemock/CTestTestfile.cmake
/out/build/x64-Debug/test/googletest-build/googlemock/cmake_install.cmake
/out/build/x64-Debug/test/googletest-build/googletest/CMakeFiles/Export/lib/cmake/GTest/GTestTargets-debug.cmake
/out/build/x64-Debug/test/googletest-build/googletest/CMakeFiles/Export/lib/cmake/GTest/GTestTargets.cmake
/out/build/x64-Debug/test/googletest-build/googletest/CTestTestfile.cmake
/out/build/x64-Debug/test/googletest-build/googletest/cmake_install.cmake
/out/build/x64-Debug/test/googletest-build/googletest/generated/GTestConfig.cmake
/out/build/x64-Debug/test/googletest-build/googletest/generated/GTestConfigVersion.cmake
/out/build/x64-Debug/test/googletest-build/googletest/generated/gmock.pc
/out/build/x64-Debug/test/googletest-build/googletest/generated/gmock_main.pc
/out/build/x64-Debug/test/googletest-build/googletest/generated/gtest.pc
/out/build/x64-Debug/test/googletest-build/googletest/generated/gtest_main.pc
/out/build/x64-Debug/test/googletest-download/.ninja_log
/out/build/x64-Debug/test/googletest-download/CMakeCache.txt
/out/build/x64-Debug/test/googletest-download/CMakeFiles/3.20.21032501-MSVC_2/CMakeSystem.cmake
/out/build/x64-Debug/test/googletest-download/CMakeFiles/CMakeOutput.log
/out/build/x64-Debug/test/googletest-download/CMakeFiles/TargetDirectories.txt
/out/build/x64-Debug/test/googletest-download/CMakeFiles/cmake.check_cache
/out/build/x64-Debug/test/googletest-download/CMakeFiles/googletest-complete
/out/build/x64-Debug/test/googletest-download/CMakeFiles/googletest.dir/Labels.json
/out/build/x64-Debug/test/googletest-download/CMakeFiles/googletest.dir/Labels.txt
/out/build/x64-Debug/test/googletest-download/CMakeFiles/rules.ninja
/out/build/x64-Debug/test/googletest-download/CMakeLists.txt
/out/build/x64-Debug/test/googletest-download/build.ninja
/out/build/x64-Debug/test/googletest-download/cmake_install.cmake
/out/build/x64-Debug/test/googletest-download/googletest-prefix/src/googletest-stamp/googletest-build
/out/build/x64-Debug/test/googletest-download/googletest-prefix/src/googletest-stamp/googletest-configure
/out/build/x64-Debug/test/googletest-download/googletest-prefix/src/googletest-stamp/googletest-done
/out/build/x64-Debug/test/googletest-download/googletest-prefix/src/googletest-stamp/googletest-download
/out/build/x64-Debug/test/googletest-download/googletest-prefix/src/googletest-stamp/googletest-gitclone-lastrun.txt
/out/build/x64-Debug/test/googletest-download/googletest-prefix/src/googletest-stamp/googletest-gitinfo.txt
/out/build/x64-Debug/test/googletest-download/googletest-prefix/src/googletest-stamp/googletest-install
/out/build/x64-Debug/test/googletest-download/googletest-prefix/src/googletest-stamp/googletest-mkdir
/out/build/x64-Debug/test/googletest-download/googletest-prefix/src/googletest-stamp/googletest-patch
/out/build/x64-Debug/test/googletest-download/googletest-prefix/src/googletest-stamp/googletest-test
/out/build/x64-Debug/test/googletest-download/googletest-prefix/tmp/googletest-cfgcmd.txt
/out/build/x64-Debug/test/googletest-download/googletest-prefix/tmp/googletest-cfgcmd.txt.in
/out/build/x64-Debug/test/googletest-download/googletest-prefix/tmp/googletest-gitclone.cmake
/out/build/x64-Debug/test/googletest-download/googletest-prefix/tmp/googletest-gitupdate.cmake
/out/build/x64-Debug/test/googletest-src
